<script type="text/template" id="sport">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-sportForm">
    <% if(sport.id) {%>
    <input type="hidden" name="id" value="<%= sport.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= sport.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="minAge">Min Age</label>
    	<input type="text" class="form-control" id="minAge" name="minAge" placeholder="Enter value" value="<%= sport.get('minAge') %>"/>	
		</div>
		<div class="form-group" >
		<label for="maxAge">Max Age</label>
    	<input type="text" class="form-control" id="maxAge" name="maxAge" placeholder="Enter value" value="<%= sport.get('maxAge') %>"/>	
		</div>
    </form>
    </div>
</script> 